body {
    font-size: 15px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.slides-navigation {
    z-index: 5;
}

.slides-navigation .prev,
.slides-navigation .next{
    color: white;
}

.slides-navigation .prev{
    margin-left: 20px;
}

.slides-navigation .next{
    margin-right: 20px;
}

.title-message{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 4;
    text-align: center;
    margin-top: -100px;
    text-shadow: 0px 0px 3px #000;
}

.title-message .heading p {
    color: #fff;
    text-shadow: 0px, 2px, 5px, rgba(0,0,0,0.5);
    font-weight: 200;
    letter-spacing: 5px;
}

.title-message .heading .main {
    font-size: 55px;
}

.title-message .heading .sub {
    font-size: 27px;
}

.section {
    padding: 100px 0;
}

.aboutImage {
    max-width: 100%;

}

.skills-section {
    background-color: #2c3e50;
    color: white;
}

.skill {
    text-align: center;
    margin-left: 8px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
    margin-bottom: 3px;

}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #fff;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

.square-item {
    margin-top: 30px;
    position: relative;
}

.square-inner {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}

.square-inner:before,
.square-inner:after {
    content: "";
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}

.square-inner:before {
    right: 0px;
}

.square-inner:after {
    left: 0px;
}

.square-content h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: black;
}

.square-content h3 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

.square-icon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;

}

